<div class="container_card">
   <div>
      <div class="flex justify-between">
         <button mat-icon-button (click)="voltar()">
            <mat-icon class="text-black">arrow_back</mat-icon>
         </button>
         <button [matMenuTriggerFor]="menu" mat-icon-button>
            <mat-icon class="text-black">settings</mat-icon>
         </button>
         <mat-menu closed="false" class="mr-4" #menu="matMenu" [formGroup]="itemsToCat">
            <button mat-menu-item (click)="$event.stopPropagation()">
               <p><mat-checkbox [(ngModel)]="showRemedio" color="primary"
                     formControlName="remedio">Remédios</mat-checkbox></p>
            </button>
            <button mat-menu-item (click)="$event.stopPropagation()">
               <p><mat-checkbox [(ngModel)]="showExame" color="primary" formControlName="exame">Exames</mat-checkbox>
               </p>
            </button>
            <button mat-menu-item (click)="$event.stopPropagation()">
               <p><mat-checkbox [(ngModel)]="showVacina" color="primary" formControlName="vacina">Vacinas</mat-checkbox>
               </p>
            </button>
         </mat-menu>
      </div>

      <div *ngFor="let cat of catList" class=" p-3 shadow-sm rounded-sm">
         <div class="flex justify-center">
            <div class="grid text-center align-middle justify-center">
               <div>
                  <img class="img_card mb-4 mx-6" src={{cat?.image}} alt="">
                  <div class="div_button_edit">
                     <mat-icon (click)="editCat()">edit</mat-icon>
                  </div>
               </div>

               <p class="card_cat-name">{{cat?.name}}</p>
            </div>


         </div>
         <div class="mt-8 text-gray-700 ">
            <div class="grid text-sm">
               <div class="grid grid-cols-2">
                  <div class="text-base px-4 py-2 font-semibold text-center sm:text-left 2xl:text-right">Raça</div>
                  <div class="px-4 py-2 text-start">{{cat?.raca}}</div>
               </div>
               <div class="grid grid-cols-2 ">
                  <div class="text-base px-4 py-2 text-center sm:text-left  font-semibold 2xl:text-right">Sexo</div>
                  <div class="px-4 py-2"><mat-icon [ngClass]="cat?.sexo === 'Macho' ? 'male' : 'female'"
                        class="absolute text-start">{{catSex(cat?.sexo)}}</mat-icon></div>
               </div>
               <div class="grid grid-cols-2 ">
                  <div class="text-base px-4 py-2 text-center   sm:text-left font-semibold 2xl:text-right">Espécie</div>
                  <div class="px-4 py-2 text-start">{{cat?.especie}}</div>
               </div>
               <div class="grid grid-cols-2 ">
                  <div class="text-base px-4 py-2 text-center  sm:text-left font-semibold 2xl:text-right">Idade</div>
                  <div class="px-4 py-2 text-start">{{cat?.dataNascimento}}</div>
               </div>
               <div class="grid grid-cols-2 ">
                  <div class="text-base px-4 py-2 text-center  sm:text-left font-semibold 2xl:text-right">Pais</div>
                  <div class="px-4 py-2 text-start">{{cat?.pai + ' e ' + cat?.mae}}</div>
               </div>
               <div class="grid grid-cols-2 ">
                  <div class="text-base px-4 py-2 text-center  sm:text-left font-semibold 2xl:text-right">Cidade</div>
                  <div class="px-4 py-2 text-start">{{cat?.cidade}}</div>
               </div>
               <div class="grid grid-cols-2 ">
                  <div class="text-base px-4 py-2 text-center  sm:text-left font-semibold 2xl:text-right">Endereço</div>
                  <div class="px-4 py-2 text-start">{{cat?.endereco}}</div>
               </div>
               <div class="grid grid-cols-2 ">
                  <div class="text-base px-4 py-2 text-center  sm:text-left font-semibold 2xl:text-right">Telefone</div>
                  <div class="px-4 py-2 text-start">{{cat?.telefone}}</div>
               </div>
            </div>
         </div>
      </div>

      <div class="grid mt-8 mb-8">
         <div *ngIf="showRemedio" class="flex center justify-center text-center">
            <button (click)="openRemedioDialog()" type="button"
               class="flex items-center justify-evenly text-center w-44 text-white bg_blue hover:bg-blue-800 focus:outline-none focus:ring-4 focus:ring-blue-300 font-medium rounded-full text-sm px-5 py-2.5 me-2 mb-2">
               <mat-icon class="mr-3">local_hospital</mat-icon>
               <a>Remédios</a>
            </button>
         </div>

         <div *ngIf="showExame" class="flex center justify-center text-center">
            <button (click)="openExameDialog()" type="button"
               class="flex items-center justify-evenly  w-44 text-white bg_yellow hover:bg-yellow-500 focus:outline-none focus:ring-4 focus:ring-yellow-300 font-medium rounded-full text-sm px-5 py-2.5 text-center me-2 mb-2 ">
               <mat-icon class="mr-3">medical_services</mat-icon>
               <a>Exames</a>
            </button>
         </div>
         <div *ngIf="showVacina" class="flex center justify-center text-center">
            <button (click)="openVacinaDialog()" type="button"
               class="flex items-center justify-evenly  w-44 text-white bg_green hover:bg-green-800 focus:outline-none focus:ring-4 focus:ring-green-300 font-medium rounded-full text-sm px-5 py-2.5 text-center me-2 mb-2 ">
               <mat-icon class="mr-3">vaccines</mat-icon>
               <a>Vacinas</a>
            </button>
         </div>
      </div>


   </div>



</div>