<form [formGroup]="editRemedioForm" (ngSubmit)="onSubmit()" class="ml-8 mt-4 w-4/5 border-b border-gray-900/10 pb-12">
   <h2 class="center text-center text-base font-semibold leading-7 text-gray-900">Edição do {{remediosList.name}}</h2>

   <div class="mt-10 grid grid-cols-1 gap-x-6 gap-y-8 sm:grid-cols-6">
      <div class="sm:col-span-3">
         <label for="first-name" class="block text-sm font-medium leading-6 text-gray-900">Nome</label>
         <div class="mt-2">
            <input type="text" id="name" formControlName="name" autocomplete="given-name"
               class="block w-full rounded-md border-0 py-1.5 text-gray-900 shadow-sm ring-1 ring-inset ring-gray-300 placeholder:text-gray-400 focus:ring-2 focus:ring-inset focus:to-blue-500 sm:text-sm sm:leading-6">
         </div>
      </div>

      <div class="sm:col-span-3">
         <label for="last-name" class="block text-sm font-medium leading-6 text-gray-900">Horário</label>
         <div class="mt-2">
            <input type="text" id="horario" formControlName="horario" autocomplete="family-name"
               class="block w-full rounded-md border-0 py-1.5 text-gray-900 shadow-sm ring-1 ring-inset ring-gray-300 placeholder:text-gray-400 focus:ring-2 focus:ring-inset focus:to-blue-500 sm:text-sm sm:leading-6">
         </div>
      </div>

      <div class="sm:col-span-3">
         <label for="last-name" class="block text-sm font-medium leading-6 text-gray-900">Data Inicial</label>
         <div class="mt-2">
            <input type="text" id="dataIni" formControlName="dataIni" autocomplete="family-name"
               class="block w-full rounded-md border-0 py-1.5 text-gray-900 shadow-sm ring-1 ring-inset ring-gray-300 placeholder:text-gray-400 focus:ring-2 focus:ring-inset focus:to-blue-500 sm:text-sm sm:leading-6">
         </div>
      </div>

      <div class="sm:col-span-4">
         <label for="email" class="block text-sm font-medium leading-6 text-gray-900">Data Final</label>
         <div class="mt-2">
            <input id="email" id="dataFim" formControlName="dataFim" class=" block w-full rounded-md border-0 py-1.5 text-gray-900 shadow-sm ring-1 ring-inset ring-gray-300
               placeholder:text-gray-400 focus:ring-2 focus:ring-inset focus:to-blue-500 sm:text-sm sm:leading-6">
         </div>
      </div>

   </div>

   <div class="mt-8 -mb-4 flex center justify-center text-center">
      <button type="submit"
         class="flex items-center justify-evenly text-center w-1/2 text-white bg-blue-500 hover:bg-blue-800 focus:outline-none focus:ring-4 focus:ring-blue-300 font-medium rounded-full text-sm px-5 py-2.5 me-2 mb-2">
         <a>Salvar</a>
      </button>
   </div>
</form>