/* You can add global styles to this file, and also import other style files */
@tailwind base;
@tailwind components;
@tailwind utilities;



body { font-family: Roboto, "Helvetica Neue", sans-serif; }

.male {
   color: #2563eb;   
}

.female {
   color: purple;
}


.blue {
   color: #84c7e7;
}

.yellow {
   color: #e0901d; 
}

.green {
   color: #8ba148;
}

.bg_blue {
   background-color: #84c7e7
}

.bg_yellow {
   background-color: #e0901d
}
.bg_green  {
   background-color: #8ba148
}